---
import BackgroundBlobs from "@/components/BackgroundBlobs";
import { CTA, Footer, Header, JobExperiences } from "@/components/sections";

import "@/styles/animations.css";
import "@/styles/job-experiences-section.css";
---

<div
  class="transition-colors duration-300 ease-linear relative overflow-hidden bg-white text-gray-700 antialiased dark:bg-gray-800 dark:text-gray-200">
  <BackgroundBlobs />
  <div class="relative">
    <Header />
    <main>
      <JobExperiences />
    </main>
    <CTA />
    <Footer />
  </div>
</div>