---
import Container from "@/components/shared/Container"
import AnimatedLinePortrait from "./AnimatedLinePortrait"
import Logo from "@/components/shared/Logo"
import LanguageSelector from "./LanguageSelector.astro"
import { GithubIcon, LinkedInIcon } from "@/components/icons"
import LINKS from "@/static/data/links"
import ButtonIcon from "@/components/shared/ButtonIcon"
import DarkModeButtonToggle from "./DarkModeButtonToggle"
import DownloadCVButton from "@/components/shared/DownloadCVButton"
import ContactMeButton from "@/components/shared/ContactMeButton"
import { t } from "i18next";

---

<header class="pb-20">
  <nav class="flex justify-between py-8 px-8">
    <Logo className="h-12 w-12" />
    <div class="flex items-center space-x-2">
      <DarkModeButtonToggle client:load />
      <LanguageSelector />
    </div>
  </nav>
  <Container>
    <div class="items-center justify-between md:flex">
      <div class="mb-6 max-w-2xl px-4 md:mb-0">
        <span class="text-2xl font-medium sm:text-4xl">
          {t("header.toptitle")}
        </span>
        <h1 class="mt-4 mb-6 text-5xl font-bold text-primary-500 dark:text-primary-400 sm:text-6xl lg:mb-8 lg:text-7xl">
          {t("header.title")}
        </h1>

        <div class="mb-6 max-w-lg lg:mb-12">
          <p class="text-base text-gray-500 dark:text-gray-300 sm:text-xl">
            {t("header.subtitle")}
          </p>
        </div>

        <div class="flex flex-wrap items-start gap-4 md:gap-6">
          <ContactMeButton />
          <DownloadCVButton />
        </div>

        <div class="mt-2 flex space-x-4">
          <ButtonIcon as="a" target="_blank" rel="noreferrer" href={LINKS.LINKEDIN}>
            <LinkedInIcon className="h-9 w-9" />
          </ButtonIcon>
          <ButtonIcon as="a" target="_blank" rel="noreferrer" href={LINKS.GITHUB}>
            <GithubIcon className="h-9 w-9" />
          </ButtonIcon>
        </div>
      </div>
      <div class="mt-20 flex items-center justify-center px-4 md:mt-0">
        <AnimatedLinePortrait client:idle />
      </div>
    </div>
  </Container>
</header>