---
import { Button, SunIcon, MoonIcon } from '@/components'

const BUTTON_THEME_TOGGLE_ID = 'theme-toggle'
const SUN_ICON_THEME_TOGGLE_ID = 'sun-icon-theme-toggle'
const MOON_ICON_THEME_TOGGLE_ID = 'moon-icon-theme-toggle'
---

<Button data-cy='theme-mode-toggle' id={BUTTON_THEME_TOGGLE_ID} variant='icon' size='small' aria-hidden='true'>
  <SunIcon id={SUN_ICON_THEME_TOGGLE_ID} />
  <MoonIcon id={MOON_ICON_THEME_TOGGLE_ID} />
</Button>

<script
  is:inline
  define:vars={{
    BUTTON_THEME_TOGGLE_ID,
    SUN_ICON_THEME_TOGGLE_ID,
    MOON_ICON_THEME_TOGGLE_ID
  }}
>
  const button = document.getElementById(BUTTON_THEME_TOGGLE_ID)
  const sunIcon = document.getElementById(SUN_ICON_THEME_TOGGLE_ID)
  const moonIcon = document.getElementById(MOON_ICON_THEME_TOGGLE_ID)

  function updateButton() {
    const theme = document.documentElement.classList.contains('dark') ? 'light' : 'dark'
    if (theme === 'light') {
      sunIcon.style.display = 'none'
      moonIcon.style.display = 'block'
    } else {
      sunIcon.style.display = 'block'
      moonIcon.style.display = 'none'
    }
  }

  function toggleTheme() {
    const theme = document.documentElement.classList.contains('dark') ? 'light' : 'dark'
    document.documentElement.classList.remove(theme === 'light' ? 'dark' : 'light')
    document.documentElement.classList.add(theme)
    updateButton()
  }

  button.addEventListener('click', toggleTheme)
  updateButton()
</script>
